.fonts-section{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-right:1px solid lightgray;
    border-left:1px solid lightgray;
}

.select-group{
    display: flex;
    gap: 10px;
}
.pointer{
    cursor: pointer;
}
select{
    padding: 3px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.fonts-styling-group{
    display: flex;
    gap:10px;
}

.fonts-styling-group img{
    border: 1px solid lightblue;
    padding: 5px;
    border-radius: 5px;
}

.fonts-styling-group img:hover{
    transition: 0.2s;
    background-color: #bbd0ff;
}