
@font-face {
  font-family:croisant;
  src: url("../src/fonts/CroiisantOne/CroissantOne-Regular.ttf");
}


*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.editor{
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  margin: 80px auto;
  width: 1000px;
  height: 600px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.logo{
  display: flex;
  position: absolute;
  top: -60px;
  right:0;
  align-items: center;
  gap: 25px;
}
::-webkit-scrollbar {
  width: 5px;
  border-radius: 8px;
}


::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}


::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}


::-webkit-scrollbar-thumb:hover {
  background: #555;
}