
.clip-board {
    display: flex;
    gap: 10px;
    padding: 10px 15px;
}

.small-icons-group {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.vertical-img-group{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.horizontal-img-group{
    display: flex;
    gap: 5px;
}

.img-15 {
    width: 15px;
    height: 15px;
}

.img-45 {
    width: 45px;
    height: 45px;
}