
.menu-bar {
    padding: 5px;
    border-bottom: 1px solid lightblue;
}

.file-settings {
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 8px;
}

.file-settings:hover {
    transition: 0.3s;
    background-color: lightblue;
    cursor: pointer;
}

.options-wrapper {
    position: relative;
    display: flex;
    gap: 10px;
}

.options {
    background-color: #fff;
    position: absolute;
    top: 30px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.option-item {
    padding: 8px 15px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 8px;
    justify-content: flex-start;
}

.option-item > span {
    margin-top: 3px;
}

.option-item:hover {
    transition: 0.2s;
    background-color: #bde0fe;
}

.img-20 {
    width: 20px;
    height: 20px;
}

.colors {
    display: flex;
    gap: 5px;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}

input[type="color"] {
    border-radius: 5px;
    border: 1px solid lightgray;
    background-color: #fff;

}

input[type="color"]::-webkit-color-swatch {
    border-radius: 5px;
    border: 1px solid lightblue;
}

.input-search {
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    outline: none;
}


