
.small-icons-row{
    display: flex;
    gap: 5px;
    padding: 10px;
    border-right: 1px solid lightgray;
}

.small-icons-row img{
    border: 1px solid lightblue;
    padding: 5px;
    border-radius: 5px;
}
.small-icons-row img:hover{
    transition: 0.2s;
    background-color: #bbd0ff;
}